name: CI
permissions:
  contents: read
  pull-requests: write
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    name: Build and test (Node.js ${{ matrix.node-version }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 24
          - 22
          - 20
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - if: ${{ matrix.node-version == 24 }}
        name: Check formatting
        run: pnpm lint
      - if: ${{ matrix.node-version == 24 }}
        name: Check types
        run: pnpm typecheck
      - name: Build
        run: pnpm build
      - name: Run tests
        run: pnpm test
      - if: ${{ matrix.node-version == 24 }}
        name: Check for packaging errors
        uses: kirkeaton/action-publint@c578d30a8c954e058de4758442cd1f22f9e9464e # v2.0.3
      - if: ${{ matrix.node-version == 24 }}
        name: Check dependency owners
        uses: dependency-owners/check@9e72503183d6a8687e241a94d44926fbb6c1f130 # v2.0.2
        with:
          dependency-file: 'package.json'
          loader: '@dependency-owners/package-json-loader'
      - if: ${{ matrix.node-version == 24 }}
        name: Assign reviewers to dependency changes
        uses: dependency-owners/assign@949b8a8aae5b991259538ce95851a3554d743990 # v2.0.3
        with:
          dependency-file: 'package.json'
          loader: '@dependency-owners/package-json-loader'
